<div class="container ">
	<div class="row justify-content-md-center" style="margin-top: 50px; margin-bottom: 100px"">
		<div class="col col-md-5 col-lg-5 card w-75">

			<div class="row card-header"><h2><i class="fa fa-user-plus" aria-hidden="true"></i> Sign up</h2></div><br>

			<div class="card-body">
				<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

				<div class="form-inputs">
					<%= f.input :email, required: true, autofocus: true %>
					<%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
					<%= f.input :password_confirmation, required: true %>
				</div>

				<div class="form-actions">
					<%= f.button :submit, "Sign up" %>
				</div>
				<% end %>
				<br />
			</div>
			<div class="row card-footer">Already registered? <%= link_to "Sign in", new_user_session_path, style: "margin-left: 3px; margin-right: 3px" %> here.</div>
		</div>
	</div>
</div>


