<div class="container" style="margin-top: 50px">

	<div id="ticket" class="card">
		<div class="card-header"><h3><i class="fa fa-paper-plane" aria-hidden="true"></i> <%= link_to @project.name, @project, style: "text-decoration: none;" %></h3></div>

		<div class="card-body">
			<div class="card">
				<div class="card-header"><h3><i class="fa fa-ticket" aria-hidden="true"></i> <%= @ticket.name %></h3></div>
				<div class="card-body">
					<p>
						<!-- simple_format is used to keep the description in the same format as it is entered by the user -->
						<%= simple_format(@ticket.description) %>
					</p>

					<table id="attributes" class="table">
						<tr>
							<th>Author:</th>
							<td><%= @ticket.author.email %></td>
						</tr>
						<tr>
							<th>Created:</th>
							<td><%= time_ago_in_words(@ticket.created_at) %> ago</td>
						</tr>
						<tr>
							<% if @ticket.state.present? %>
								<th>State:</th>
								<td><%= render @ticket.state %></td>
							<% end %>
						</tr>
						<% if @ticket.tags.any? %>
							<tr id="tags">
								<th>Tags:</th>
								<td><%= render @ticket.tags, ticket: @ticket %></td>								
							</tr>
						<% end %>
						<tr id="watchers">
							<th>Watchers:</th>
							<td>
								<%= toogle_watching_button(@ticket) %> <br />
								<%= @ticket.watchers.map(&:email).to_sentence %>
							</td>
						</tr>
					</table>

					<!-- Attachment of a file using Carrierwave -->
					<% if @ticket.attachments.any? %>
						<hr />
						<h4>Attachments</h4>
						<div class="attachments">
							<% @ticket.attachments.each do |attachment| %>
								<p>
									<%= link_to File.basename(attachment.file.url), attachment_path(attachment) %>
									(<%= number_to_human_size(attachment.file.size) %>)
								</p>
							<% end %>
						</div>
					<% end %>


					<% if policy(@ticket).update? %>
						<hr />
							<%= link_to "Edit Ticket", [:edit, @project, @ticket], class: "btn btn-primary"%>
					<% end %>

					<% if policy(@ticket).destroy? %>

							<%= link_to "Delete Ticket", [@project, @ticket], 
							method: :delete, data: {confirm: "Are you sure you want to delete ticket?"}, class: "btn btn-primary" %>
					<% end %>
				</div>
			</div>
		</div>

	</div>

	<% if policy(@comment).create? %>
		<hr />
		<div class="card">
			<div class="card-header"><h3><i class="fa fa-comment" aria-hidden="true"></i> New Comment</h3></div>
			<div class="card-body">
				<%= render "comments/form", ticket: @ticket, comment: @comment %>
			</div>
		</div>
	<% end %>

	<hr />

	<div style="margin-bottom: 100px">
		<div class="card">
			<div class="card-header">
				<h4 class="font-weight-bold"><i class="fa fa-comments" aria-hidden="true"></i> Comments</h4>
			</div>
			<div id="comments" class="card-body">
				<% if @ticket.comments.persisted.any? %>
					<%= render @ticket.comments.persisted %>
				<% else %>
					<p>There are no comments for this ticket.</p>
				<% end %>
			</div>
		</div>
	</div>
</div>
