<%= form_for(project) do |f| %>
	
	<!-- any errors here -->
	<% if project.errors.any? %>
		<div id="error_explanation">
			<!-- 	Pluralize watches the count of the error.
					then if the count is greater than 1 it sets 
					'errors' rather than 'error'.
					Just used for avoiding gramatical mistakes
			-->

			<h2><%= pluralize(project.errors.count, "error") %>
				prohibited this project from being saved: 
			</h2>
			
			<ul>
				<% project.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		
		</div>
	<% end %>

	<p>
		<%= f.label :name %><br>
		<%= f.text_field :name %>
	</p>

	<p>
		<%= f.label :description %><br>
		<%= f.text_field :description %>
	</p>

	<%= f.submit %> 
<% end %>