<% title(@project.name, "Projects") %>

<h1><%= @project.name %></h1>
<p1><%= @project.description %></p1>

<br>

<% if policy(@project).update? %>
	<%= link_to "Edit Project", edit_project_path(@project) %>
<% end %>

<% admins_only do %>
	<%= link_to "Delete Project", admin_project_path(@project), method: :delete, data: {confirm: "Are you sure you want to delete this project?"} %>
<% end %>

<%= link_to "New Ticket", new_project_ticket_path(@project) %>

<ul>
	<% @project.tickets.each do |ticket| %>
		<li>
			#<%= ticket.id %> - <%= link_to ticket.name, [@project, ticket]%>

		</li>

	<% end %>
</ul>