<%= simple_form_for [:admin, user] do |f| %>

<div class="form-inputs">
	<%= f.input :email %>
	
	<%= f.input :password %> 

	<%= f.input :admin, label: "Is an admin?" %>

		
	<hr />

	<h2>Roles</h2> 

	<!--Here is a select box for all the roles.-->
	<table>
		<% projects.each do |project| %>
			<tr>
			<td><%= label_tag dom_id(project), project.name %></td>
			<td><%= select_tag dom_id(project), options_for_select(roles, user.role_on(project)), name: "roles[#{project.id}]", include_blank: true %>
				
			</td>
			</tr>
		<% end %>
	</table>


</div>
<hr />
<div class="form-actions">
	<%= f.button :submit, class: "btn btn-primary" %>
</div>
<% end %> <br />


