<!DOCTYPE html>
<html>
  <head>
    <title>
    	<% if content_for?(:title) %>
    		<%= yield(:title) %>
    	<% else %>
    		Ticketee
    	<% end %>
    </title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <br><br>
    <ul>
      <li class = "<%= "active" if current_page?("/users/sign_up") %>">
        <%= link_to "Sign up", new_user_registration_path %>
      </li>
    </ul>

  </head>

  <body>
    <div>
      <% flash.each do |key, value| %>
        <div><%= value %></div>
      <% end %>

    </div>

    <%= yield %>
  </body>
</html>
